<link rel="stylesheet" href="forgotPassword.css" />
<div class="forgotPassBgImg bgImg">
  <center>
    <div class="container">
      <div class="card-container">
        {{! Card }}
        <div class="card card-size">

          <div class="card-body centered"><div
              class="card-title"
            >Reset your password</div><div
              class="card-text"
            >Enter your email address you need to register
              on
              <strong>Optee </strong>
              below. We'll send you an email with the link
              to reset your password.
            </div>
            <form><input
                type="text"
                placeholder="email address"
              />
              <br />
              <button type="submit">Send password reset link</button>
              <p class="text-muted">If you still need help,
                please contact us at
                <a
                  href="mailto:hello@optee.co"
                >hello@optee.co</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </center>
</div>